:root { /*Assigns root values*/
  font-size: 16px;
  --text-primary: white;
  --bg-primary: #FFA500;
  --transition-speed: 600ms;
}

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap'); /*Importing a Google font*/

body { /*Sets the text color to black, background color to white, and font to the imported one*/
  color:black;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "radio-canada-big", sans-serif;
}
main { 
  margin-left: 5rem;
  padding: 0;
}

h1 {
  margin-top: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--bg-primary);
  text-underline-offset: 2px;
}

h2 {
  text-decoration: underline;
  text-decoration-color: var(--bg-primary);
  text-underline-offset: 2px;
}

.navbar { /*position is set to "fixed" and the background color is set to #FFA500. Adds a 200ms animation to all things under the navbar class and the font is set to bold.*/
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  font-weight: bold;
}

.navbar-nav { /*Positions the items in the navbar using flexbox in a column direction*/
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item { 
  width: 100%;
}

.nav-link { /*Aligns items to center and sets the height to 80px. The colour of the text is set to white and the underline is removed. The default opacity is set to 80%*/
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: opacity(80%);
}

.nav-link:hover{ /*When the navbar items are hovered the opacity is set to 100% with a transition speed of 0.2s (gives it a smooth animation feel)*/
  transition: .2s;
  color: var(--text-primary);
  filter: opacity(100%);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg { /*The svg's have a width of 30px and a min-width of 30px. Margin is set to 24px.*/
  width: 2rem;
  min-width: 2rem;
  margin: 1.5rem;
}

.back-button svg { /*The back button has a width of 30px and a min-width of 30px. Margin is set to 24px.*/
  width: 2rem;
  min-width: 2rem;
  margin: 1.5rem;
}

.navbar:hover .link-text {
  display: inline;
}

.card-list { /*Places all the cards in a row using flex box. Moves all the cards down 80px so they are more in the center. Gives the cards a padding of 48px.*/
  display: flex; 
  padding: 3rem;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card { /*Sets the padding in the card to 24px and sets the flex-direction to column so any content in the cards flow vertically. The height is set to 350px and the width to 250px. The min width is set to 200px. */
  padding: 1.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 250px;
  /*The corners of the cards are rounded and the colour is set to a greyish white. Shadows are added around the cards for a 3d effect. */
  border-radius: 1rem;
  background-color:  #eaeaea;
  box-shadow: -1rem 0 2.5rem #000;
  /*Transition of 0.2 seconds is added for a more animated feel*/
  transition: 0.2s;
}

.card:hover { /*When a card is hovered, it is moved upwards by 16px*/
  transform: translateY(-1rem);
}

.card:hover~.card { /*Cards after the card that is hovered are moved 130 px to the right*/
  transform: translateX(100px);
}

.card:not(:first-child) { /*Moves all the cards except from the first card 130px to the left, preventing a gap from froming when card is hovered*/
  margin-left: -100px;
}

.card-image {
  position: relative;
  align-items: center;
}

.recipe-image img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 1rem;
}

p {
  margin-left: 6rem;
  margin-top: 2rem;
}

.recipe-title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 6rem;
  text-decoration: underline;
  text-decoration-color: var(--bg-primary);
  text-underline-offset: 2px;
}

.recipe-list {
  margin-left: 4.5rem;
} 


@media only screen and (max-width: 600px) { /*On a device with a max width of 600px (mobile), put the navbar at the bottom with the items in a row. Make the margin of the header 16px on the left. Shift the cards 80px up.*/
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    font-size: 20px;
  }

  main {
    margin: 0;
  }
  h1 {
    margin-left: 1rem;
    position: absolute;
    top: 30%;
  }
  .card-list {
    margin-bottom: 5rem;
    margin-left: 4rem;

  }
}

@media only screen and (min-width: 600px) { /*On a device with a screen larger than 600px, navbar is kept on the side.*/
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  
  .navbar:hover {
    width: 16rem;
  }
  h1 {
    margin-left: 16rem;
  }

}